<header>

    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 contact">
                    <p class="hidden-sm hidden-xs">
                        Hello, {% if is_granted('ROLE_USER') %}{{ app.user.Username }}!    {% else %}Anon! <i class="fa fa-user-secret"></i>{% endif %}
                    </p>
                </div>
                <div class="col-xs-7">
                    <div class="login">

                        {% if is_granted('ROLE_USER') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-wrench" aria-hidden="true"></i> <span class="hidden-xs text-uppercase">Admin Panel</span></a>
                            {% endif %}
                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> <span class="hidden-xs text-uppercase">Logout</span></a>
                        {% else %}
                        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
                        <a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">
        <div class="navbar navbar-default yamm" role="navigation" id="navbar">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand home" href="{{ path('homepage') }}">
                        <img src="" alt="Test for Itera Research" class="hidden-xs hidden-sm">
                        <img src="" alt="Test for Itera Research" class="visible-xs visible-sm"><span class="sr-only"></span>
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">
                        <li {% if app.request.get('_route') == 'homepage' %}class="active"{% endif %}><a href="{{ path('homepage') }}">Homepage</a></li>
                        <li {% if app.request.get('_route') == 'category_view' %}class="active"{% endif %}><a href="{{ path('random_category') }}">Random Category</a></li>
                        <li {% if app.request.get('_route') == 'product_view' %}class="active"{% endif %}><a href="{{ path('random_product') }}">Random Product</a></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</header>